.icon
  position: relative
  display: inline-grid
  place-items: center
  width: 2.8rem
  height: 2.8rem
  color: hsl(var(--on-surface-hsl))

  border-radius: var(--full-shape)
  background-color: hsl(Var(--placeholder-hsl))
