@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --useful: 138 98% 38%;
    --useful-foreground: 138 90% 8%;
    --warning: 40 100% 45%;
    --warning-foreground: 40 100% 8%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --destructive-foreground-variant: 358 85% 8%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 5%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --useful: 138 98% 42%;
    --useful-foreground: 138 98% 98%;
    --warning: 40 100% 56%;
    --warning-foreground: 40 100% 98%;
    --destructive: 0 82% 60%;
    --destructive-foreground: 210 40% 98%;
    --destructive-foreground-variant: 210 40% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    scrollbar-color: hsl(0, 0%, 60%) transparent;
  }

  html.dark {
    scrollbar-color: hsl(0, 0%, 44%) transparent;
  }

  input::-ms-reveal,
  input::-ms-clear {
    display: none;
  }
}

@layer utilities {
  .hidden-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hidden-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    transition: scrollbar-color 200ms ease;
  }

  .custom-scrollbar:hover {
    scrollbar-color: hsl(0, 0%, 60%) transparent;
  }

  .dark .custom-scrollbar:hover {
    scrollbar-color: hsl(0, 0%, 44%) transparent;
  }

  .container-grid {
    --padding-inline: 1rem;
    --container-max-widht: 1400px;
    --breakout-max-width: calc(var(--container-max-widht) * 0.15 + var(--container-max-widht));

    --breakout-size: calc((var(--breakout-max-width) - var(--container-max-widht)) / 2);

    display: grid;
    grid-template-columns:
      [full-width-start] minmax(var(--padding-inline), 1fr) [breakout-start] minmax(0, var(--breakout-size)) [container-start] min(100% - var(--padding-inline) * 2,
        var(--container-max-widht)) [container-end] minmax(0, var(--breakout-size)) [breakout-end] minmax(var(--padding-inline),
        1fr) [full-width-end];
  }

  .container-grid> :not(.breakout, .full-width),
  .full-width> :not(.breakout, .full-width) {
    grid-column: container;
  }

  .breakout {
    grid-column: breakout;
  }

  .full-width {
    grid-column: full-width;

    display: grid;
    grid-template-columns: inherit;
  }

}