.content
  padding-inline: 0

.trigger
  padding: 0.1rem 1rem
  font-size: var(--body-l-fs)
  gap: 0.7rem

  &Icons
    display: flex
    align-items: center
    gap: 0.2rem

    &Avatar
      font-size: var(--body-extra-fs)

.profile
  display: grid
  grid-template-columns: [avatar-start] 3rem [avatar-end] 1.5rem [content-start] 1fr [content-end]
  grid-template-rows: auto auto

  padding-inline: 1rem

  &Email
    grid-column: content
    grid-row: 2

    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden

    color: hsl(var(--on-surface-variant-hsl))

  &Img
    grid-column: avatar
    grid-row: span 2

    display: grid
    place-items: start

    span
      font-size: 1.5rem

      width: 3.75rem
      height: 3.75rem

      overflow: hidden

.credentials
  grid-column: content

  display: flex
  align-items: flex-end

  &Role
    color: hsl(var(--on-surface-variant-hsl))

  strong
    white-space: nowrap
    text-overflow: ellipsis

.nav
  margin-top: 0.5rem

  hr
    background-color: hsl(var(--outline-variant-hsl))
    height: 1px
    margin-block: 0.3rem

  &Link
    width: 100%
    gap: 1rem
    border-radius: 0
    padding-inline: 2.1rem

    svg
      font-size: 1.3rem

.themeController
  --_label-gap: 1rem
  --_border-radius: 0

  label

    svg
      font-size: 1.3rem

@media (hover: hover) and (pointer: fine)
  .triggerIconsAvatar
    color: hsl(var(--on-surface-hsl))
